@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 18% 82%; /* #c6d3db */
    --foreground: 0 0% 0%; /* Black */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%; /* Blue */
    --primary-foreground: 0 0% 98%; /* White */
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 222.2 47.4% 11.2%;

    /* Fluid Typography */
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
    --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
  }
}
 
@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
    font-family: "Bowlby One SC", sans-serif;
  }
  h2,h3 {
    font-family: "Bowlby One SC", sans-serif;
  }
}

@layer utilities {
  .glass-card {
    background: hsl(var(--card));
    border-radius: 12px;
    box-shadow: 
      0 4px 15px rgba(0,0,0,0.2), /* Standard shadow for depth */
      0 0 40px rgba(255, 0, 0, 0.5); /* Red glow */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  }

  .glow::before {
    content: none;
  }

  .neu-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
  }
  
  .neu-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
  
  .neu-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }

  .neu-card {
    padding: 2.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border-radius: 2rem;
    color: #444447;
    box-shadow:
      inset -2px 2px 4px hsl(0 0 100% / 1),
      -20px 20px 40px rgba(255, 0, 0, 0.4);
    height: 100%;
    width: 100%;
  }

  .card-grid.has-active-card > .card-container:not(.active) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .neu-card .uiverse-title {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }
  
  .neu-card .uiverse-text {
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    color: #000000;
  }
  .hero-panel {
    height: 300px;
    width: 300px;
    position: relative;
  }
  .hero-panel:hover .hero-card-image {
    filter: blur(1.5px);
  }
  .hero-panel:hover .hero-border {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .hero-panel:hover .hero-slide {
    bottom: 0px;
  }
  .hero-panel:hover .hero-ring:before,
  .hero-panel:hover .hero-ring:after {
    transform: translateX(-50%) translateY(-50%) rotate(310deg);
  }
  
  .hero-ring, .hero-card-image, .hero-border, .hero-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-ring {
    color: #fffbf1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 170px;
    height: 300px;
    width: 300px;
  }
  
  .hero-card-image {
    background: #f0ead6;
    position: relative;
    transition: all 1s;
    height: 100%;
    width: 100%;
    border-radius: 9999px;
    overflow: hidden;
  }

  .hero-ring:before,
  .hero-ring:after {
    content: "";
    padding: 0.7em 0.4em;
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    display: block;
    border: 5px solid #50c9c3;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateX(-50%) translateY(-50%) rotate(50deg);
  }
  
  .hero-ring:before {
    border-color: hsl(var(--primary)) hsl(var(--primary)) rgba(0, 0, 0, 0)
      rgba(0, 0, 0, 0);
    z-index: 1;
  }
  
  .hero-ring:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) hsl(var(--primary))
      hsl(var(--primary));
  }
  
  .hero-border {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    transition: border 1s;
    overflow: hidden;
    border-radius: 9999px;
  }
  
  .hero-slide {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -300px;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom 1s;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
}
